beautifulsoup4==4.6.0
boto3==1.4.4
botocore==1.5.81
click==6.7
docutils==0.13.1
EasyProcess==0.2.3
flake8==3.3.0
gcloud==0.17.0
googleapis-common-protos==1.5.2
httplib2==0.10.3
jmespath==0.9.3
jws==0.1.3
mccabe==0.6.1
oauth2client==3.0.0
protobuf==3.2.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycodestyle==2.3.1
pycryptodome==3.4.3
pyflakes==1.5.0
Pyrebase==3.0.27
python-dateutil==2.6.1
python-dotenv==0.6.4
python-jwt==2.0.1
PyVirtualDisplay==0.2.1
PyYAML==3.12
requests==2.11.1
requests-toolbelt==0.7.0
rsa==3.4.2
s3transfer==0.1.10
selenium==3.3.3
six==1.10.0
